# Supabase
VITE_SUPABASE_URL=https://tkdplqdnoqnqsgwpohwh.supabase.co/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRrZHBscWRub3FucXNnd3BvaHdoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM3OTEzMDcsImV4cCI6MjA4OTM2NzMwN30.zitECBDFGx7NB3F6l7V9PL4HVON10xMQMtxQiF6ZINo

# Razorpay (publishable key only - used in frontend)
VITE_RAZORPAY_KEY_ID=rzp_test_SyiHxiqmfLx6H0
VITE_RAZORPAY_KEY_SECRET=4nu363awQ1gvU2zRBeIXz1p2
