@import "tailwindcss";

@font-face {
  font-family: "Garet Book";
  src: url("/fonts/fonnts.com-garet-book.otf") format("opentype"),
    url("/fonts/fonnts.com-garet-book.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}